.main-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}

.countrycard-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: auto;
}



@media screen and (max-width: 466px) {

 .countrycard-container{
   justify-content: center;
 }
  


}
