nav,
#navigation-container,
#theme-switcher {
  display: flex;
}

nav {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#navigation-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-switcher {
  align-items: center;
}

img {
  width: 25px;
}

.lightmode nav {
  color: var(--light-mode-text);
  background-color: var(--light-mode-element);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.darkmode nav {
  color: var(--dark-mode-text);
  background-color: var(--dark-mode--element);
}
