.country-details {
  width: 100vw;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.navigate-to-homepage-button-container {
  height: auto;
  width: 90%;
}
